logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: "*"

common:
  message: "This is shared config for all microservices"
  welcomeMessage: "Hi Welcome"
